{% extends "base.html" %}
{% block jumbotron %}
    <div class="jumbotron">
        <div class="container">
        <h1>This is us!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content.
        Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Read more »</a></p>
      </div>
    </div>
{% endblock jumbotron %}
{% block content %}
<div class="col-sm-12" style="text-align: center;">
    <h2>About us!</h2>
</div>
{% endblock %}