{% extends 'base.html' %}
{% block jumbotron %}
    <div class="jumbotron">
        <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content.
        Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
      </div>
    </div>
{% endblock jumbotron %}
{% block content %}    
    <div class="col-sm-3">
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
        ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a href="#" class="btn btn-default btn-lg" role="button">View details »</a></p>
    </div>
    <div class="col-sm-3">
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
        ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a href="#" class="btn btn-default btn-lg" role="button">View details »</a></p>
    </div>
    <div class="col-sm-3">
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
        ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a href="#" class="btn btn-default btn-lg" role="button">View details »</a></p>
    </div>
    <div class="col-sm-3">
        <h3>Join Now</h3>
        <form method='post' action=''>
            {% csrf_token %}
            {{ form.as_p }}
            <input type='submit' class="btn btn-success btn-sm">
        </form>
    </div>
{% endblock content %}